.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #fff;
}

.navbar img {
    width: 180px;
    height: 70px;
}

.navbar_form {
    width: 450px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 5px;
    padding-left: 5px;
    overflow: hidden;
}

.navbar_search {
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    font-family: inherit;
}

.search_button {
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #76B947;
    padding: 0 15px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.navbar_links {
    font-size: 18px;
}

.navbar_links a {
    margin: 15px;
    color: #000;
    cursor: pointer;
}