@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* background-color: #f8f6f6; */
}

a {
  text-decoration: none;
}

.align_center {
  display: flex;
  align-items: center;
}